@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "mixinsandfunctions.scss";

.body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffd3;
}




header{
  // box-shadow: 10px 5px 5px grey;
  border-radius: 10px;
  // background-color:#c1e4f1 ;
position: fixed;
top: 0;

// suppression du comportement ancien layout navbar
// left: 50%; // Centrer l'élément horizontalement
// transform: translateX(-50%); // Décaler l'élément de moitié à gauche pour le centrer parfaitement
// width: 100%;
// max-width: 1240px;
// fin suppression du comportement ancien layout navbar
z-index: 1001;
// prend toute la largeur de l'écran nouveau code layout
width:100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


//action pour passer par au dessus de la règle des li menu
#root > header > nav > div > div.nav-elements.false > ul > li{
  list-style: none;
}

.navbar {
  height: 70px;

background: #408a8b;
// background: linear-gradient(85deg, #352361 1%, rgb(64, 84, 178) 55%);

  // grid-area: header;
  // width: 100vw;

  // position: fixed;
  width: 100%;
  @include media(desktop) {
    // width: 1240px;
  }
}



.logo-1
  {
    // width: 100%; /* Set initial width */
    // height: auto; /* Maintain aspect ratio */
    max-width: 50px; /* Set max-width for larger devices */
    z-index: 2000;


}
@media only screen and (min-width: 768px) {
  .logo-1 {
      max-width: 60px; /* Set max-width for larger devices */
      // width: 100%; /* Set initial width */
      // height: auto; /* Maintain aspect ratio */
  }
}

@media only screen and (min-width: 1024px) {
  .logo-1 {
      // max-width: 70px; /* Set max-width for even larger devices */
      width: 100%; /* Set initial width */
      height: auto; /* Maintain aspect ratio */
  }
}




.menu-icon {
  display: none;
}



.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
  @media (max-width: 858px) {
    margin-right: 0px;
  }
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  //   color: #2f234f;
  color: white;
  color: black;
  text-decoration: none;
}

.nav-elements ul a.active {
  //   color: #574c4c;
  // color: white;         
  color: black;
  font-weight: 500;
  position: relative;
}

// .nav-elements ul a.active::after {
.nav-elements ul li a.active::after {

  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  //   background-color: #574c4c;
  background-color: #86b98b;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .nav-elements ul li {
    margin-right: 30px;
    padding-left: 10px;
  }
}

// @media (max-width: 600px) {
// @media (max-width: 768px) {
@media (max-width: 858px) {

// @media (max-width: 1018px) {


  .menu-icon {
    display: block;
    cursor: pointer;
    // color: white;
    color: black;
    //pour passer par dessus la header au déploiement du menu
    z-index: 3000;
  }

  .nav-elements {
    left: 0;
    height: 0rem;
    // top: 84px;
    top: 0px;
    
background: #408a8b;
    // height: 100vh;
    //ancien code pour le menu qui vient de la gauche
    width: 0;
    // nouveau code pour le menu qui vient du haut
    width: 100%;


    // height: calc(100vh - 60px);
    //ancien code
    // transition: all 0.3s ease-in;
    // modif transition pour menu qui vient du haut
    transition: all 0.6s ease-in ;
    overflow: hidden;
    // z-index: 100;
    position: fixed;
    z-index: 1001;
  }

  .nav-elements.active {
    //ancien code
    // width: 200px;
    //nouveau code
    //essai menu qui vient du haut
    // width:100%;
    height:300px;
    // fin essai menu qui vient du haut
    //suppression opacité
    // opacity: 0.95;
    position: fixed;
    z-index: 200;
    
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    //suppression ancien code
    // width: 200px;

    //fix nouveau code
    width: 100%;
    align-items: center;

    // padding-top: 70px;
  }
  .nav-elements > ul:first-child {
    //ancien code pour le menu qui vient de la gauche
    padding-top: 70px;
    padding-top: 100px;

  }
  .nav-elements ul li {
    // margin-right: unset;
    margin-top: 22px;
  }
}

// .dropdown {
//   position: relative;
// }

.menu {

  //   //   padding: 0;
  display: flex;
  flex-direction: column;
  // padding-left: 5px;
  position: relative;
  position: absolute;
}
// @media (max-width: 600px) {
@media (max-width: 788px) {


  .menu {
    position: relative;
  }
}

.menu > li {

  width: 100%;

}


.drop {
  color: white;
  // top: 0;
}
.drop-menu{
height: 100%;
}

h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  text-align: center;
  padding-top: 50px;
}
@include media(desktop) {
  h1 {
    font-size: 30px;
  }
}
.title-container {
  height: 5rem;
  height: 3rem;
  // background-color: #131f53;
  background-color: white;
  background: linear-gradient(85deg, #352361 1%, rgb(64, 84, 178) 55%);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  color: white;
  // border-radius: 10px;

  //suppression ancien code border radius
  // border-radius: 0px 0px 10px 10px;



  // position: fixed;
  //ancien code menu qui vient de la gauche

  // z-index: 98;

  //nouveau code menu qui vient du haut
z-index: 4000;
  @include media(desktop) {
    // width: 1240px;
  }
}
.burger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  // background-color: white;
  background-color: black;
  margin: 6px 0;
}
// .fa-chevron-down{
//   font-family: "fontawesome";
//   font-weight:900;
//   padding-left: 4px;
//   // position: absolute;
// }

.title{
  // color:red;
//   color: #c1e4f1;
//   color: black;
  // width: 260px;
  margin: 0;
  padding: 0;
  // letter-spacing: -1px;
  word-spacing: normal;

  // padding-top: 70px;
  br {
    display: none;
  }

  @media (max-width: 600px) {
    br {
      display: block;
    }
  }
}